{% extends 'base.html' %}
{% block title %}
Home - View all Program
{% endblock %}

{% block body %}
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/"><b>TourOperator</b></a>
            <ul class="nav">
              {% if user.is_authenticated %}
              <li class="active"><a href="/">Programs</a></li>
              <li><a href="/program/create">Create</a></li>
              <li><a href="/program/manage">Manage</a></li>
              <li><a href='/logout'><i class="icon-user icon-white"></i> Log Out</a></li>
              {% else %}
              <li><a href='/login'><i class="icon-user icon-white"></i> Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
    </div>

	{% for program in programs %}
		<div>
		<a href='program/{{ program.id }}'><h3> {{ program.title }} </h3></a>
		<h5> {{ program.description }} </h5>
	  <br />
		{% for picture in program.picture_set.all %}
			<img src='media/{{ picture.url }}' /><br />
	  <a href='program/{{ program.id }}'>View details...</a>
		{% endfor %}
    </div>
		<hr />

	{% endfor %}
{% endblock %}