{% extends 'base.html' %}
{% block title %}
	TourOperator - {{ program.title }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1> {{ program.title }} </h1>
        <h3> {{ program.description }} </h3>
        <h3> {{ program.price }} </h3>
    
    <!--- comment
    {% for picture in program.picture_set.all %}
			<img src='/media/{{ picture.url }}' />
	{% endfor %}
	<br/>
---->
	{{ url }}
    </div>
    <a href='/program/{{ program.id }}/edit'>edit</a>
    <a href='/program/{{ program.id }}/delete'>delete</a>
{% endblock %}